.tarjeta {
  background-color: black;
  width: 16%;
  color: white;
  margin: 40px;
  border-radius: 10px;
  overflow: hidden;
  border: solid 2px rgb(24, 24, 165);
  margin-top: 180px;
}

.tarjeta:hover {
  transform: scale(1.1);
}

.card {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.imagen {
  width: 100%;
  height: 200px;
}

.boton {
  margin-bottom: 10px;
  background-color: rgb(7, 167, 207);
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  font-weight:600;
}

.mp {
  background-color: aqua;
  width: 15%;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}


.mp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.contenedor-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .contenedor-cards {
    flex-direction: column;
  }

  .tarjeta {
    width: 40%;
    margin-bottom: 20px;
  }
}
